<% provide(:title, "About") %>

<h1 class="about">What's this all about?</h1>
<p>
  Tired of forgetting to do your chores? Maybe you are sick of constantly
  forgetting what that one important thing you had to do was.
</p>

<p>
  With this app, never will your significant other berate you again for forgetting to pick up the groceries.
</p>
