<div class="center jumbotron">
  <h1 class="home">Do What You Gotta Do</h1>
  <h2>
    A todo list application to suit your every need
  </h2>

  <%= link_to "Get started!", login_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="image-source">
  <%= image_tag("dowork.jpeg", alt: "do-what-you-gotta-do") %>
  <small>
    <a href="http://lukeroberts.deviantart.com/art/You-Gotta-Do-What-You-Gotta-Do-14827867">Via</a>
  </small>
</div>
